:root {
  --lightBlue: #81c4ff;
  --blue: #16588e;
  --red: #e7222e;
  --grey: #b8cad1;
  --darkGrey: #2d4046;
}
html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background: #fff;
  font-family: Arial, Helvetica, sans-serif;
  background: linear-gradient(120deg, var(--blue) 13.57%, var(--lightBlue) 98.38%);
  padding: 0;
  height: 100vh;
  overflow-y: auto;
}

main {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.text {
  font-size: max(1vw, 15px);
  line-height: 1.4;
  overflow: hidden;
  padding-bottom: 20px;
  color: rgba(255, 255, 255, 0.7);
  height: 100vh;
}

.acontainer {
  width: 100%;
  margin: 0%;
  padding: 0%;
}

svg {

  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
}


.hero {
  width:100%;
  height: 100vh;
  top: 0;
  z-index: 0;
  background: #000022;
}

img {
  height: 70vh;
}

.leftPerson {
  display: flex;
  place-content: center;
  flex-direction: column;
}

.About {
  height: 100vh;
}

/*
.blocks {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20vh;
  overflow: hidden;
}*/

.block {
  background: linear-gradient(200deg, var(--lightBlue) 13.57%, rgb(67, 139, 247) 98.38%);
  border-radius: 15px;
  margin-bottom: 0px;
  box-shadow: 0 30px 30px -10px rgba(0, 0, 0, .3);
  position: absolute;
  height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
  padding: 1rem;

  &:nth-child(2) {
    background: linear-gradient(200deg, var(--blue)  13.57%, rgb(79, 89, 233) 98.38%);
  }

  &:nth-child(3) {
    background: linear-gradient(200deg, var(--red)  13.57%, rgb(253, 132, 132) 98.38%);
  }

  &:nth-child(4) {
    background: linear-gradient(200deg, var(--grey) 13.57%, #8a8a8a 98.38%);
  }

  &:nth-child(5) {
    background: linear-gradient(200deg, var(--darkGrey) 13.57%, #363636 98.38%);
  }


  &:not(:first-child) {
    top: 100%;
  }
}

@media (max-width: 480px) {
  .accordion {
    padding: 15px 20px 8px;
  }

  .title {
    font-size: 20px;
  }
}

/*Connor Css*/
#space {
  background-color: #000022;
  background-image: radial-gradient(ellipse at bottom, #000033 0%, #000022 100%);
  background-image: radial-gradient(white, rgba(255,255,255,0) 2px, transparent 40px),
                    radial-gradient(white, rgba(255,255,255,0) 2px, transparent 30px),
                    radial-gradient(white, rgba(255,255,255,0) 2px, transparent 50px),
                    radial-gradient(rgba(255,255,255,0.3), rgba(255,255,255,0) 2px, transparent 30px),
                    radial-gradient(white, rgba(255,255,255,0) 2px, transparent 40px),
                    radial-gradient(white, rgba(255,255,255,0) 2px, transparent 50px),
                    radial-gradient(white, rgba(255,255,255,0) 2px, transparent 30px),
                    radial-gradient(white, rgba(255,255,255,0) 2px, transparent 40px),
                    radial-gradient(white, rgba(255,255,255,0) 2px, transparent 50px),
                    radial-gradient(rgba(255,255,255,0.3), rgba(255,255,255,0) 2px, transparent 30px);

  background-attachment: fixed;
  background-position: 5px 5px, 100px 200px, 150px 150px, 250px 300px, 300px 100px, 450px 250px, 600px 150px, 700px 300px, 800px 200px, 900px 100px;
  background-size: cover;
}

#space h1 {
  font-weight: bold; 
  color: white;      
  text-align: center; 
  text-shadow: 0 0 30px white;
}

.container {
  height: 400px;
  width: 400px;
  position: relative;
}

.sun {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  box-shadow: 0 0 100px white;
  position: absolute;
  top: 225px;
  left: 150px;
}

.globe.earth {
  background-color: blue;
  height: 30px;
  right: 28px;
  top: 28px;
  width: 30px;
  box-shadow: 0 0 40px white
}

.globe.moon {
  width: 12px;
  height: 12px;
  background: #d6d6d6;
  right: 2px;
  top: 8px;
}

.globe {
  border-radius: 50%;
  position: absolute;
}

.orbit.earth {
  position: relative;
  animation: orbit 36.5s linear infinite;
  height: 300px;
  left: -95px;
  top: -95px;
  width: 300px;
}

.orbit.moon {
  animation: orbit 2.7s linear infinite;
  height: 80px;
  left: -25px;
  top: -25px;
  width: 80px;
}

.orbit {
  position: relative;
  border: solid;
  border-color: white transparent 
    transparent transparent;
  border-radius: 50%;
  border-width: 1px 1px 0 0;
  box-sizing: border-box;
  transform: rotate(0deg);
  transform-origin: center;
}

@keyframes orbit {
  to {
    transform: rotate(360deg);
  }
}